body {
    margin: 0;
    font-family: 'Poppins', sans-serif; 
   }

   #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Ensure it's above other content */
  }
  
  .white{
    color: #fff;
  }
   .black{
    color: #000;
   }
/* Vertical Navigation */
.vertical-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  background-color: #B00A08; /* Default green */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-right: solid 5px #fff; /* Default white border */
  z-index: 1000;
  transition: background-color 1s ease-in-out, border-right-color 1s ease-in-out;
}


.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.menu-icon {
  display: block;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin: 50px 0;
}
.menu-icon:hover{
  color: #408206;
}
.social-icons {
  text-align: center;
  margin-bottom: 50px;
}

.icon {
  display: block;
  margin: 5px 0;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.icon:hover {
  color: #000; /* Hover effect */
}

/* Overlay Menu */
.overlay-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: -100%; /* Hidden initially */
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease;
  z-index: 999;
}

#menu-toggle:checked ~ .overlay-menu {
  left: 0; /* Show when checked */
}

.overlay-menu .container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border-right: #408206 9px solid;
}

/* Left side (logo side) */
.overlay-menu-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%; /* Full height */
}


/* Right side (menu links) */
.overlay-menu-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%; 
}

.overlay-menu-left ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  text-align: left;
}

.overlay-menu-left ul li {
  margin: 20px 0;
}
.overlay-menu-left ul li a span{
  font-size: 20px;
}
.overlay-menu-left ul li a {
  color: #B00A08; /* White text for links */
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.overlay-menu-left ul li a:hover {
  text-decoration: line-through;
  color: #408206; /* Yellow hover effect */
}

/* Ensure the close button is in the top right */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}
section {
  height: 100vh;
}
.section-title{
  padding: 50px;
  display: flex;
}
.section-title h1{
  width: 40%;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-btn, .section2-btn, .section3-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid ;
  padding: 20px 30px;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 16px;
  border-radius: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.section-btn i, .section2-btn i, .section3-btn i {
  margin-left: 10px;
}

.section-btn:hover {
  text-decoration: line-through;
  background-color: #B00A08;
  color: #fff;
}
.section2-btn:hover {
  text-decoration: line-through;
  background-color: #408206;
  color: #fff;
}
.section3-btn:hover {
  text-decoration: line-through;
  background-color: #B00A08;
  color: #fff;
}
.breadcrumb {
  font-size: 14px;
  margin-bottom: 0px;
  position: relative; 
  z-index: 2; 
  background-color: white;
  margin-left: 70px;
}

.breadcrumb span {
  font-size: 14px;
  font-weight: semi-bold;
}
.breadcrumb a{
  text-decoration: none;
  color: #000;
}
.breadcrumb a:hover{
  text-decoration: line-through;
}
.section-subtitle{
  display: inline-block;
  background-color: transparent;
  width: 60%;
  border: 2px solid ;
  padding: 10px 20px;
  margin-left: 70px;
  border-radius: 16px;
  margin-top: 45px;
  font-size: 14px;
  font-weight:700;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.section-subtitle.all-matches{
  margin-top: 25px;
}
#section1 {
  background-color: #f0f0f0;
}

#section2 {
  background-color: #e0e0e0;
}

#section3 {
  background-color: #d0d0d0;
}

/* Banner Section */
.banner-index {
    margin-left: 80px; 
    width: calc(100% - 80px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #B00A08;
    color: white;
  }
  
  /* Banner Navigation */
.banner-nav {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; 
}

.banner-nav-links ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.banner-nav-links li {
  list-style: none;
}

.banner-nav-links a {
  font-size: 18px;
  color: white;
  transition: color 0.3s;
  text-decoration: none;
}
.banner-nav-links .active{
  text-decoration: line-through;
}
.banner-nav-links a:hover {
text-decoration: line-through;}

.contact-us-btn {
  position: fixed; 
  left: 190%; 
  padding: 10px 20px;
  background-color: white;
  color: #B00A08;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  white-space: nowrap; 
  z-index: 1000;
  text-decoration: none;
}

.contact-us-btn:hover {
  background-color: #408206;
  text-decoration: line-through;
  color: white;
}

  
  /* Banner Content */
  .banner-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 40px;
  }
  .text-content-title{
    margin-top: 150px;
    width: 100%;
    margin-left: 70px;
    bottom: 100%;
  }
  .text-content-title.all-matches{
    width: 150%;
    margin-top: 70px;
  }
  .text-content-title.news{
    width: 150%;
  }
  .text-content h1 {
    text-transform: uppercase;
    font-size: 66px;
    font-weight: bold;
    line-height: 1.2;
  }
  .text-content-news{
    margin-top: 100px;
  }
  .text-content-about{
    margin-top: 230px;
  }
  .text-content-subtitle{
    width: 100%;
    margin-top: 300px;
  }
  .text-content p {
    width: 70%;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .learn-more-btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 16px;
    color: #fff;
    padding: 20px 30px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .learn-more-btn i {
    margin-left: 10px;
  }
  
  .learn-more-btn:hover {
    text-decoration: line-through;
    background-color: #408206;
    color: #fff;
  }
  
  /* Image Content */
  .image-content{
    margin-top: -50px;
    height: 630px;
  }
  .image-content.news{
    margin-top: 40px;
  }
  .image-content.index{
    margin-left: -150px;
    width: 100%;
    height: 90vh;
  }
  .image-content img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  /* match schedule */
  .match-schedule {
    height: auto;
    padding: 10px 0;
  }
  .match-schedule-content{
    margin-left: 30px;
  }
  .match-schedule .owl-carousel{
    margin: 40px auto;
  }
  .match-schedule-item {
    padding: 15px;
    width: 400px;
    margin: 0 auto;
    border: #eaeaea solid 1px;
    height: 180px; /* Set a fixed height for all items */
    display: flex;
    justify-content: space-between; /* Space out the logo and details */
    position: relative;
    border-radius: 16px;
    margin: 10px;
  }
  .match-card {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%; 
    box-sizing: border-box; 
    justify-content: space-between; /* Space out the logo and details */
    position: relative;
  }
  .match-logo {
    width: 30%;
    height: 100%; 
    margin-right: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .match-logo img {
    max-width: 100%; 
    max-height: 100%; 
  }
  
  .match-details {
    flex: 1;
    height: 100%; /* Make sure the details fit the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .match-date {
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  
  .match-title {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
    color: #333;
  }
  
  .match-location {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .live-score-btn {
    background-color: #408206;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: auto; /* Push the button to the bottom */
  }
  
  .live-score-btn:hover {
    background-color: #B00A08;
  }
  .live-score-btn a{
    text-decoration: none;
    color: #ffffff;
  }

/* Position Owl Navigation */
.owl-nav {
  position: absolute;
  top: -80px;
  right: 10px;
  display: flex;
  align-items: center;
}

/* Style Navigation Buttons */
.owl-nav button {
  background: none;
  border: none;
  color: #000; 
  font-size: 30px; 
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Divider Styling */
.owl-nav .custom-divider {
  color: #000;
  font-size: 25px;
  margin: 0 10px; 
  line-height: 0; 
}

/* Hover Effects */
.owl-nav i:hover {
  color: #408206; /* Change color on hover */
  transform: scale(1.5);
}
.owl-dots {
  text-align: center;
  padding-top: 45px;
}
.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #0f922c;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #408206;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
/* news- today's highlights */
.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.news-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.news-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

.news-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}
/* index-news */
.custom-grid {
  display: grid;
  gap: 15px; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto auto; 
  margin-left: 30px;
}
/* Top Row: Layout Adjustments */
.item1 {
  grid-column: span 2; 
  background-color: #408206;
  color: #fff;
  position: relative;
  border-radius: 16px;
  height: 250px; 
  overflow: hidden;
}

.item2, .item3, .item4, .item5, .item6, .item7 {
  border-radius: 16px;
  position: relative;
  height: 250px; 
  overflow: hidden;
}
.news1 {
  grid-column: span 2; 
  grid-row: span 2; 
  background-color: #408206;
  border-radius: 16px;
  color: #fff;
  position: relative;
  height: 515px; 
  overflow: hidden;
}

.news2, .news3 {
  grid-column: span 1; /* Each occupies one column */
  grid-row: span 1; /* Each occupies one row */
  position: relative;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
}

.news4, .news5 {
  border-radius: 16px;
  grid-column: span 1; /* Each occupies two columns side-by-side */
  grid-row: span 1; /* Both appear on the bottom row */
  position: relative;
  height: 250px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 12px;
  color: #FFFFFF;
  z-index: 2;
}

.item2::before, .item3::before,.item4::before, .item5::before,.item6::before, .item7::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
.news1::before, .news2::before, .news3::before, .news4::before, .news5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
/* .headline {
  font-size: 12px;
  line-height: 1.1;
  margin: 0;
} */

.grid-item-btn {
  position: absolute;
  bottom: 50%; 
  left: 45%;
  border-radius: 16px;
  transform: translate(-50%, 50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  z-index: 3;
}
.grid-item-btn:hover{
  background-color: #408206;
}
.grid-item-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 16px;
  text-transform: uppercase;
}
.grid-item-link:hover{
  text-decoration: line-through;
}
.grid-item-link span {
  margin-left: 10px; /* Spacing for the arrow */
}

/* Hover Effect */
.item2:hover .grid-item-btn, .item3:hover .grid-item-btn, .item4:hover .grid-item-btn, .item5:hover .grid-item-btn,.item6:hover .grid-item-btn,.item7:hover .grid-item-btn{
  bottom: 20%; /* Adjust position to be visible */
  opacity: 1;
  visibility: visible;
}

.item2:hover::before, .item3:hover::before, .item4:hover::before, .item5:hover::before, .item6:hover::before, .item7:hover::before {
  background-color: #B00A08;
}
/* Hide Headline on Hover */
.item2:hover .headline, .item3:hover .headline, .item4:hover .headline , .item5:hover .headline , .item6:hover .headline , .item7:hover .headline{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Hover Effect */
.news2:hover .grid-item-btn, .news3:hover .grid-item-btn, 
.news4:hover .grid-item-btn, .news5:hover .grid-item-btn {
  bottom: 40%; /* Adjust position to be visible */
  opacity: 1;
  visibility: visible;
}
.news1:hover .grid-item-btn{
  bottom: 70%;
  left: 25%;
  opacity: 1;
  visibility: visible;
}
.news1:hover::before, .news2:hover::before, .news3:hover::before, 
.news4:hover::before, .news5:hover::before {
  background-color: #B00A08;
}

/* Hide Headline on Hover */
.news1:hover .headline, .news2:hover .headline, .news3:hover .headline, 
.news4:hover .headline, .news5:hover .headline {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Smooth transition for the headline */
.headline {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Typography & Read More Button */
.news-index-item-content{
  display: flex;
}
.news-index-item1-content{
  margin: 30px;
}
.news-index-item-content img{
  width: 100%;
  height: 250px;
  object-fit: cover; /* Ensures the image fills the container */
  display: block;
}
.news-index-item-content .badge {
  background-color: #2AA344;
  color: #fff;
  display: inline-block;
  padding: 7px 7px;
  font-size: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.index-news h2, .index-news h3, .all-news h3 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: regular;
}
.news-index-item1-content .read-more{
  margin-top: 50px;
}
.read-more {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.read-more:hover {
  background-color: #fff;
  color: #408206;
  border-color: #408206;
  text-decoration: line-through;
}

/* index-video */
.index-videos{
  margin-top: 50px;
  color: #000;
}
.video-carousel{
  margin-top: 60px;
}
/* Video Item Container */
.video-item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: inherit;
  background-color: #B00A08;
  margin: 10px;
  cursor: pointer;
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 170px;
  background-color: #000;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button i {
  font-size: 20px;
  color: #8B0000;
}

/* Video Details */
.video-details {
  padding: 10px 15px;
  color: #fff;
}

.video-category {
  background-color: #8B0000;
  color: #fff;
  display: inline-block;
  padding: 7px 7px;
  font-size: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: bold;
  text-transform:none;
}

.video-title {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.video-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ddd;
}

/* Modal Styles */
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.video-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

/* index-players */
.index-players{
  height: auto;
  padding-bottom: 20px;
}

/* Container Styles */
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Pokemon Card */
.pokemon-card {
  width: 350px;
  height: 430px;
  margin-bottom: 20px;
  border-radius: 16px;
  perspective: 1000px;
  transition: transform 0.3s ease;
  position: relative;
  box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.1);}

.pokemon-card:hover {
  transform: scale(1.05);
}

/* Flip Card */
.pokemon-card-front,
.pokemon-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.pokemon-card.is-flipped .pokemon-card-front {
  transform: rotateY(180deg);
}

.pokemon-card.is-flipped .pokemon-card-back {
  transform: rotateY(0deg);
}

/* Front of the Card */
.pokemon-card-front {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}

/* Back of the Card */
.pokemon-card-back {
  background-color: #FDFCFA;
  border-radius: 16px;
  transform: rotateY(180deg);
}

/* pokemon-front */
.pokemon-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Title and info positioning */
.pokemon-card-title {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
}
.pokemon-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #000 solid 1px;
  margin: 10px 0;
}

.pokemon-title-name h2 {
  color: #1E1E1E;
  font-size: 20px;
  margin: 5px 0;
  font-weight: regular;
}

.pokemon-title-name h3 {
  color: #1e1e1e5b;
  font-weight: regular;
  font-size: 14px;
  margin: 0;
}

.pokemon-title-country {
  width: 24px;
  height: 16px;
}
.pokemon-button{
  margin: 20px 0;
}
.pokemon-btn {
  background-color: #408206;
  color: #fff;
  border: none;
  padding: 12px 15px;
  border-radius: 16px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  margin-top: auto; 
}

.pokemon-btn:hover {
  background-color: #B00A08;
  text-decoration: line-through;
}
.pokemon-card-content {
  padding: 20px;
}
.pokemon-title-details{
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  border-bottom: #000 solid 1px;
  padding-bottom: 10px;
}
.pokemon-details-block p{
  margin: 0;
  line-height: 1.3;
}
.pokemon-details-block .top{
  color: #818181;
}
.pokemon-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.pokemon-stat-row {
  display: flex;
  justify-content: space-between;
}

.pokemon-stat-title {
  font-size: 14px;
  color: #666;
}

.pokemon-stat-value {
  font-size: 14px;
  color: #000;
}
.pokemon-section-title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.footer {
  margin-top: 15px;
  margin-left: 40px;
  background-color: #fff;
  box-shadow: 0px -10px 27px -6px rgba(0,0,0,0.1);
}
.footer h3{
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-logo img {
  max-width: 70%; /* Ensure responsiveness */
  height: auto;
}

.footer-logo h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.footer-logo h2 span {
  color: #008000;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style:circle;
}
.footer .get-in-touch {
  list-style: none;
}
.footer a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 0.8rem;
  margin: 0;
}
.footer-social a {
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #008000; /* Change to your preferred hover color */
}

.footer-social i {
  font-size: 1.5rem;
}
footer .samaita-logo img {
  height: 30px; /* Adjust height as needed */
  width: auto;  /* Maintain aspect ratio */
  margin-left: 5px; /* Add spacing if needed */
}


/* country-players */
.country-players{
  height: auto;
}
.country-players-title{
  padding-top: 40px;
}

/* about-section */
.about{
  height: 110vh;
}
.about-section {
  display: grid;
  gap: 0px; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto; 
  margin-left: 30px;
}

.about-grid-item {
  overflow: hidden;
  text-align: center;
}
.about-grid-item.image{
  height: 300px;
}

.about-grid-item img {
  width: 100%;
  min-height: 250px;
}

.about-grid-item h2 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 5px 10px;
}

.about-grid-item p {
  text-align: left;
  padding: 0px 10px;
  font-size: 14px;
  color: #f0f0f0;
}

.about-logo-section {
  grid-column: span 2;
  text-align: center;
  padding: 20px 0;
}

.about-logo-section img {
  max-width: 290px;
}

.about-logo-section h1 {
  font-size: 2rem;
  color: #900;
  margin-top: 10px;
}

.about-grid-item.green {
  background-color: #008000;
  color: white;
}

.about-grid-item.red {
  height: 250px;
  background-color: #900;
  color: white;
}
/* news-player-item */
.news-player-content{
  margin-left: 30px;
}
.news-player-item {
  display: flex;
  align-items: center;
  background-color: #2AA344; 
  border-radius: 16px;
  padding: 15px;
  margin: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  max-width: 600px; /* Optional, adjust as needed */
}

.news-player-image {
  max-width: 150px;
  border-radius: 5px; /* Optional, slight rounding for the image */
  margin-right: 15px;
}

.news-player-info {
  flex: 1;
}

.news-player-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.news-player-description {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

/* news-all */
.all-news{
  background-color: #408206;
}
.all-news-content{
  margin-left: 40px;
}
.news-all {
  border-radius: 16px;
  position: relative;
  height: 250px; /* Adjust the height as needed */
  overflow: hidden;
}        
.news-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
/* Hover Effect */
.news-all:hover .grid-item-btn {
  bottom: 40%; /* Adjust position to be visible */
  opacity: 1;
  visibility: visible;
}

.news-all:hover::before {
  background-color: #B00A08;
}

/* Hide Headline on Hover */
.news-all:hover .headline {
  opacity: 0;
  visibility: hidden;
}
 /* contact-form */
 .contact-form-section{
  height: auto;
 }
.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.1);
}

.contact-info {
  flex: 1;
  background-color: #fff;
  color: black;
  padding: 40px;
}

.contact-info img{
  padding: 20px;
  margin-bottom: 30px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-info i {
  margin-right: 10px;
  font-size: 20px;
}

.contact-info span {
  font-size: 14px;
}

.contact-form {
  color: #fff;
  background-color: #B00A08;
  flex: 2;
  padding: 40px;
}

.contact-form h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: regular;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid ;
  padding: 20px 30px;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  text-decoration: line-through;
  background-color: #408206;
  color: #fff;
}

/* news-article */
.news-article{
  height: auto;
}
.news-article .section-title h1{
  width: 80%;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
.news-article .section-subtitle{
  width: 70%;
  margin-top: 0px;
}
.news-article-content {
  margin-top: 20px;
}

.image-container {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-caption {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.article-text{
  margin-left: 50px;
}
.article-text p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.article-text strong {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
/* player-sub */
.banner-index.player-sub{
  overflow: hidden;
}
.banner-content.player-sub {
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 40px;
}

/* Circular Background */
.circular-image-container {
  width: 850px;
  height: 770px;
  background-color: #408206; 
  border-radius: 50%;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  pointer-events: none; 
}

/* Text Content Title */
.text-content-title.player-sub {
  position: absolute; 
  width: 40%;
  top: 40%;
  left: 0%; 
  z-index: 2; 
  color: white; 
}

.text-content-subtitle.player-sub {
  width: 20%;
  position: absolute; 
  z-index: 2;
  color: white; 
}

/* Image Content */
.image-content.all-matches{
  z-index: 1; 
}
.image-content.all-matches img {
  height: 130%;
  max-width: 100%;
  margin-left: 17em;
  object-fit: cover;
}
.image-content.player-sub {
  z-index: 1; 
}

.image-content.player-sub img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.image-content.player-sub {
  position: relative;
}
/* Container */
.info-container {
  margin-left: -70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  color: white;
  text-align: center;
  padding: 20px;
}
.info-container.all-matches{
  margin-top: 50px;
  gap: 30px;
}
/* Info Block */
.info-block {
  flex: 1;
}
.info-block img{
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 16px;
}
.info-block p {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.info-block h1 {
  font-size: 72px;
  margin: 0 0 0 -70px;
}
/* Breadcrumb Container */
.breadcrumb-container.player-sub {
  position: relative;
  width: 200%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Breadcrumb Text */
.breadcrumb.player-sub {
  font-size: 14px;
  margin: 0 0 -30px 0;
}

.breadcrumb.player-sub a {
  color: white;
  text-decoration: underline;
  margin-right: 5px;
}
.breadcrumb.player-sub a:hover {
  text-decoration: line-through;
}
/* Learn More Container */
.learn-more-container.player-sub {
  position: relative;
  display: inline-block;
}

.learn-more-btn.player-sub {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more-btn.player-sub .arrow {
  margin-left: 10px;
  font-size: 18px;
}
.learn-more-btn.player-sub:hover {
  text-decoration: line-through;
  color: white;
}
/* player-story */
.player-story{
  height: auto;
  padding-bottom: 30px;
}
.player-story.section-title{
  width: 200%;
}
.player-story-content{
  margin-left: 40px;
  padding: 20px 50px ;
  border: #000 1px solid;
}
.player-story-image {
  margin-top: 30px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Card container styling */
.statistic-player{
  height: auto;
}
.stat-card {
  background-color: #4CAF50; /* Green background */
  color: #FFFFFF; /* White text */
  padding: 20px;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title styling */
.stat-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Divider styling */
.stat-divider {
  border: 1px solid #FFFFFF;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Percentage styling */
.stat-percentage {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Label styling */
.stat-label {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Description styling */
.stat-description {
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1); /* Subtle transparent background */
}
.player-game {
  background-color: #8B0000; /* Dark red background */
  color: white;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.player-game-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.player-game-description {
  font-size: 16px;
  line-height: 1.6;
}
/* all-matchers */

.current-match-container {
  margin-left: -70px;
  width: 200%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.current-match-block {
  color: #000; 
  padding: 15px;
  flex: 1 1 200px; 
  max-width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 150px; 
  position: relative;
}
.current-match-block::after {
  content: '';
  position: absolute;
  top: 30%; 
  bottom: 10%; 
  right: 0; 
  width: 2px; 
  background-color: #000; 
}

.current-match-block:last-child::after {
  display: none; /* Remove border for the last block */
}
.current-match-block img {
  border-radius: 16px;
  padding: 15px;
  width: 80%;
  height: auto;
  margin-top: 10px;
}
.current-match-block h3{
  font-size: 20px;
}
.current-match-block .label {
  font-weight: regular;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #008000;
  margin-top: 20px; 
  margin-bottom: 10px; 
  align-self:center; 
}
/* Pagination Container */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 20px 40px;
}

/* Pagination Links */
.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #408206;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
  background-color: #f0f0f0;
}

.pagination-link.active {
  background-color: #408206;
  color: #ffffff;
}

/* Pagination Arrows */
.pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #408206;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.pagination-arrow:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* match-calendar */
.match-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.calendar-container {
  width: 100%;
  max-width: 1250px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-left h1 {
  font-size: 90px;
  font-weight: bold;
  margin: 0;
}

.calendar-right {
  text-align: right;
}

.calendar-right h2 {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.calendar-right h3 {
  font-size: 24px;
  margin: 0;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #eaeaea;
  text-align: left;
  position: relative; 
  padding: 20px;
}

.calendar-table th {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #B00A08;
  text-align: center;
}

.calendar-table td {
  height: 100px;
  vertical-align: top; /* Ensures the content aligns properly */
}

.date-number {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
/* Style for the container holding multiple logos */
.tour-logos {
  display: flex; 
  justify-content: left; 
  align-items: left; 
  gap: 10px;
  position: absolute;
  bottom: 5px;  
  flex-wrap: wrap; 
}

/* Styling for the individual logos */
.tour-logo {
  width: 50px; 
  height: auto; 
  display: block;
  margin: 0; 
}

.pre-footer{
  height: auto;
}
.pre-footer-content{
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #408206;
  color: #FFFFFF;
  border-radius: 16px;
}
.pre-footer-text{
  padding: 50px 50px ;
}
.pre-footer-text h1{
  font-size: 48px;
  font-weight: bold;
}
.pre-footer-img{
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;
}
.pre-footer-img img{
  padding: 20px;
  width: 70%;
}
.today-highlight {
  background-color: #eaeaea; /* Highlight color */
  color: #fff; /* Text color */
  font-weight: bold;
  text-align: center;
}
